---

# vim.yml

- name: Update pkgs
  apt: update_cache=yes

- name: Upgrade pkgs
  apt: upgrade=full

- name: Install Vim Lua Packages
  apt: pkg={{ item }} force=yes update_cache=yes
  with_items:
    - liblua5.2-dev
    - liblua5.2-0
    - lua5.2
    - luajit
    - vim
    - vim-nox
    - vim-gtk
    - vim-gnome
    - vim-athena


- name: create directory for NeoBundle
  shell: mkdir -p ~/.vim/bundle
  sudo: yes
  sudo_user: vagrant

- name: Copy NeoBundle From Github
  git: repo=git://github.com/Shougo/neobundle.vim
       dest=~/.vim/bundle/neobundle.vim
  sudo: yes
  sudo_user: vagrant

- name: copy .vimrc for perl
  git: repo=git://github.com/ktotoron/vimrc_for_perl.git
       dest=~/.settings/vim/vimrc_for_perl.git
  sudo: yes
  sudo_user: vagrant

- name: Install .vimrc for perl
  shell: ln -s ~/.settings/vim/vimrc_for_perl.git/vimrc/perl.vimrc ~/.vimrc
  sudo: yes
  sudo_user: vagrant

- name: Install NeoBundle
  shell: vim +":NeoBundleInstall" +:q 
  sudo: yes
  sudo_user: vagrant


